.logo-img img{
    width: 50%;
    margin: 35px auto;

}

hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    width: 50%;
    border-top: 2px solid #ff8a65;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

// -------manu css-------------

.manu-header{
    background: #ff8a65;
    color: #fff;
}

.manu-bar{
    color: #fff;
}
.info-btn{
    font-size: 20px;
    color: #fff;
    z-index: 99;
    display: block;
    float: right;
    padding-right: 3%;
    position: relative;
    cursor: pointer;
}

// ---------end manu css-----------

.has-search .form-control {
    padding-left: 2.375rem;
}
.frm .item-inner{
    border-bottom: 2px solid #180d52!important;
    padding-left: 10px;
}

.forgot{
    text-align: center;
    color: #000!important;
    padding-top: 20px;
    font-size: 12px;
}

.info-frm{
    padding-left: 10px!important;
}

.edit-btn{
    background: #ff8a65!important;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
}

.cancel-btn{
    background: #31959c!important;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
}

// ---------For image file type - start here----------------
.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
}
// ---------------End here------------------------

// ------------Image picker images - start here ----------------

.image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }

  //---------- End here -----------------

