<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title class="manu-header">
      Admin Dashboard
    </ion-title>
    <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class="my-toolbar">
    <!-- <div> -->
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Admin Dashboard
    </ion-title>
    <!-- <span class="info-btn">
      <i class="fa fa-ellipsis-v"></i>
    </span> -->
    <!-- </div> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container product-list">
    <div class="row">
      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('2')" class="col-6 product" (click)="moveOrders()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Orders</div>
      </div>

      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('1')" class="col-6 product" (click)="moveProducts()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Products</div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product" (click)="moveBrands()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Brands</div>
      </div>
      
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product" (click)="moveCategories()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Categories</div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product" (click)="moveStaffs()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Staffs</div>
      </div>

      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('3')" class="col-6 product" (click)="moveStaffs()">
        <img src="../../assets/images/pro1.png" alt="" />
        <div class="product-name">Customers</div>
      </div>
    </div>
  </div>
</ion-content>