<ion-header>
    <ion-toolbar class="my-toolbar">
      <!-- <div> -->
      <ion-buttons slot="start">
        <ion-menu-button class="manu-bar"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
          Categories
      </ion-title>
      <!-- <span class="info-btn">
        <i class="fa fa-ellipsis-v"></i>
      </span> -->
      <!-- </div> -->
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container category-list">
    <div class="row">
      <div class="col-6 category" *ngFor="let cat of categories">
        <img (click)="moveCategoryEdit(cat.cat_id)" src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/category/{{cat.cat_image_name}}" alt="" />
        <div (click)="moveCategoryEdit(cat.cat_id)" class="category-name">{{cat.brand_name}}/{{cat.cat_name}}</div>
      </div>
    </div>

    <span class="add-btn" (click)="moveCategoryAdd()"><span>+</span></span>
  </div>
</ion-content>
    
  