<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title class="manu-header">
      Products Management
    </ion-title>
    <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar class="my-toolbar">
      <!-- <div> -->
      <ion-buttons slot="start">
        <ion-menu-button class="manu-bar"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
          Products Management
      </ion-title>
      <!-- <span class="info-btn">
        <i class="fa fa-ellipsis-v"></i>
      </span> -->
      <!-- </div> -->
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="container">
    <div class="row product-box" *ngFor="let product of products">

      <div class="col-3 product-img">
          <img src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/product/{{product.pro_image_name}}" alt="{{product.pro_name}}" />
      </div>

      <div class="col-6 product-description">
        <h4>Design ID: {{product.pro_design_num}}</h4>
        <p>{{product.pro_name}}</p>
        <!--<p>Description: {{product.pro_description | slice:0:30}}...</p>-->
        <p>Price: ₹{{product.pro_price_per_piece}} {{product.pro_qty_per_box}}piece/Box</p>
      </div>

      <div class="col-3 detail-btn" (click)="moveProductDetails(product.pro_id)">
        <span>Details</span>
      </div>

    </div>

    <span class="add-btn"><span (click)="moveProductAdd()">+</span></span>
  </div>
</ion-content>