<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title class="manu-header">
      Edit Product - {{product.pro_name}}
    </ion-title>
    <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form  [formGroup]="productEditForm" (ngSubmit)="onSubmit()">
          <div padding>
            <ion-label>Design ID</ion-label>
            <ion-item class="form-group frm">
              <ion-input type="text" class="info-frm" id="design_num" formControlName="design_num" placeholder="Design ID"></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Detail</ion-label>
            <ion-item class="form-group frm">
                <ion-textarea placeholder="Detail" class="info-frm" id="detail" formControlName="detail"></ion-textarea>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Brand</ion-label>
            <ion-item class="form-group frm">
              <ion-select id="brand_id" formControlName="brand_id">
                <ion-select-option *ngFor="let brnd of brand; let idx = index" [value]="brnd.id">{{brnd.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Category</ion-label>
            <ion-item class="form-group frm">
              <ion-select id="category_id" formControlName="category_id">
                <ion-select-option *ngFor="let cat of category" [value]="cat.cat_id">{{cat.cat_name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Price</ion-label>
            <ion-item class="form-group frm">
              <ion-input type="text" class="info-frm" id="price" formControlName="price" placeholder="Price Per Piece"></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Qty Per Box</ion-label>
            <ion-item class="form-group frm">
              <ion-input type="text" class="info-frm" id="qty_per_box" formControlName="qty_per_box" placeholder="Qty Per Box"></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Minimum Order - Boxes Quantity</ion-label>
            <ion-item class="form-group frm">
              <ion-input type="text" class="info-frm" id="min_order" formControlName="min_order" placeholder="Minimum Order - Boxes Quantity"></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-label>Available Colors</ion-label>
            <ion-item class="form-group frm">
              <ion-select multiple="true" id="color_list" formControlName="color_list">
                <ion-select-option *ngFor="let colr of color" [value]="colr.color_id">{{colr.color_name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
    
          <div padding>
            <button type="submit" size="large" expand="block" class="btn edit-btn">Edit</button>
          </div>
        </form>

        <div padding>
          <button size="large" expand="block" class="btn cancel-btn" (click)="clickCancel()">Cancel</button>
        </div>
        <!--<img src="http://localhost/CODEIGNITER-3.1.10/upload/product/{{product.pro_image_name}}" alt="{{product.pro_name}}" />-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>