<ion-header>
  <ion-toolbar class="my-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      {{product.pro_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="row product-box">
      <!-- <img *ngIf="allimages.length == 0" src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/product/{{product.pro_image_name}}" alt="{{product.pro_name}}" /> -->
      
      <ion-slides *ngIf="allimages.length > 0" pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(slideWithNav)">
        <ion-slide *ngFor="let image of allimages">
          <img class="slide-image" src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/gallery/{{image}}" alt="" />
        </ion-slide>
      </ion-slides>

      <div class="col-12 product-description">
        <h4>{{product.pro_name}}</h4>
        <p>{{product.pro_description}} </p>
        <p>Design ID: {{product.pro_design_num}} </p>
        <p>Colors: {{product.pro_num_of_color}} </p>
        <p>Order Terms</p>
        <p>Minimum Order Quantity {{product.pro_min_order_box_qty}} Boxes</p>
        <p class="price">{{product.pro_price_per_piece | currency:'INR':true:'1.2-2'}}/Piece | Quantity Per Box: 6 Pieces</p>
        <div class="edit" (click)="moveProductEdit(product.pro_id)">
          <span>Update</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>