
.product-name{
    position: relative;
    font-size: 14px;
    text-align: center;
    left: 30px;
    color: #fff;
    bottom: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    margin-top: 0px;
    padding: 10px 0px;
}
.product{
    position: relative;
    padding: 10px 15px;
}

.product-list{
    padding: 18px!important;
}

// .toolbar-background{
//     background-color: #000 !important;
// }

.my-toolbar{
    --background:  #ff8a65;
}