<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title class="manu-header">
      Admin Dashboard
    </ion-title>
    <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container product-list">
    <div class="row">
      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('2')" class="col-6 product">
        <a href="#">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Orders</div>
        </a>
      </div>
      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('1')" class="col-6 product">
        <a href="/products">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Products</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product">
        <a href="/brands">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Brands</div>
        </a>
      </div>
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product">
        <a href="/categories">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Categories</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div *ngIf="sess_staff_role.includes('0')" class="col-6 product">
        <a href="/staffs">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Staffs</div>
        </a>
      </div>
      <div *ngIf="sess_staff_role.includes('0') || sess_staff_role.includes('3')" class="col-6 product">
        <a href="#">
          <img src="../../assets/images/aaa.jpg" alt="" />
          <div class="product-name">Customers</div>
        </a>
      </div>
    </div>
  </div>
</ion-content>