
.product-name{
    position: absolute;
    font-size: 14px;
    text-align: center;
    left: 0;
    color: #fff;
    bottom: 18px;
    width: 100%;
}
.product{
    position: relative;
    padding: 10px 15px;
}

.product-list{
    padding: 18px!important;
}

// .toolbar-background{
//     background-color: #000 !important;
// }

.my-toolbar{
    --background:  #ff8a65;
}